@font-face {
   font-family: "casper";
   src: url("/public/fonts/ttp.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "rikky";
   src: url("/public/fonts/Candyful.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "tha";
   src: url("/public/asset/ThaleahFat.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
.text-halo {
   color: #f2731a !important;
}
body {
   overflow-x: hidden;
}